<!-- name - Merchant Name
value - amount -->
<form >
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Merchant Name</label>
                <input [(ngModel)]="name" name="name" type="text" class="form-control" placeholder="eg. Merchantus">
            </div>
          </div>
          <div class="col-md-12">
              <div class="form-group">
                  <label>Amount</label>
                  <input [(ngModel)]="value" name="value" type="text" class="form-control" placeholder="5.00">
              </div>
          </div>
          <div class="col-md-12">
              <div class="form-group">
                  <button (click)="handlePaymentSubmit()" role="submit" class="btn btn-success btn-block">Make payment</button>
              </div>
            </div>
    </div>
  </form>

  <form (submit)="addTransaction($event)">
      <div class="input-container">
          <input type="text" placeholder= "Value" id="Value" />
          <input type="date" name="dateField" id="TransactionDate" [(ngModel)]="paymentDate">
    <div class="bar"></div>
    </div>
    <select id=MerchantIdDropDown (change)="merchantChanged($event.target.value)">
        <option [value]="merchant.merchantId" *ngFor= "let merchant of merchantService.merchants" >
        {{merchant.merchantId}}
        {{merchant.categoryId}}
        {{merchant.name}}
        </option>
    </select>
    
    <select id=AccountIdDropDown (change)="accountChanged($event.target.value)">
        <option [value]="account.accountId" *ngFor= "let account of accountService.accounts" >
        {{account.accountId}}
        {{account.email}}
        {{account.password}}
        {{account.balance}}
        </option>
    </select>
    
    <div class="button-container">
        <input type="submit" style="padding:20px; background:white;color:tomato;border:2px solid tomato;" value="Add">
    </div>
</form>

<tbody>
    <tr>
        <th>
            TransactionId
        </th>
        <th>
            Value
        </th>
        <th>
            CreationTime
        </th>
        <th>
            merchant.Name
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr *ngFor="let transaction of transactionService.transactions; let i = index">
        <td>
            {{transaction.transactionId}}
        </td>
        <td>
            {{transaction.value}}
        </td>
        <td>
            {{transaction.creationTime}}
        </td>
        <td>
            {{transaction.merchant.name}}
        </td>
        <td>
            {{transaction.description}}
        </td>
    </tr>
</tbody>
